/* HIDDEN SCROLLBAR */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* FAKE TEXTAREAS */
/* text wrapping and breaking--wraps words over the line
length and puts new words on a new line if they don't fit
on this line */
[contenteditable] {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: normal;
  outline: none;
}

/* display placeholder text */
.ProseMirror p:first-child.is-empty::before {
  content: attr(data-placeholder);
  color: #003049; /* color: dark */
  opacity: 0.7;
  pointer-events: none; /* clicks go through placeholder text */
  display: block;
}

.ProseMirror p:first-child.is-empty .ProseMirror-trailingBreak {
  display: none;
}

/* GRID */
/* gridlines on map */
.gridlines {
  position: relative;
  z-index: 5; /* make sure it shows up over the image */
  
  /* hide the topmost and leftmost gridline */
  margin-top: -2px;
  margin-left: -2px;
  width: calc(100% + 2px);
  height: calc(100% + 2px); /* on mobile, parent height is set to auto */

  /* setup gridlines */
  background-image:
    linear-gradient(to right, black 1px, transparent 1px),
    linear-gradient(to bottom, black 1px, transparent 1px);
  background-size: 10% 10%; /* change this to change number of boxes */
}

@media screen and (min-width: 640px) {
  .gridlines {
    height: calc(100% + 2px);
  }
}