/* HIDDEN SCROLLBAR */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* FAKE TEXTAREAS */
/* text wrapping and breaking--wraps words over the line
length and puts new words on a new line if they don't fit
on this line */
[contenteditable] {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  word-break: normal;
}

/* display placeholder text */
[contenteditable]:empty:before {
  content: attr(placeholder);
  color: #003049; /* color: dark */
  opacity: 0.7;
  pointer-events: none; /* clicks go through placeholder text */
  display: block;
}